body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f9fa; /* Light grey background */
}

header {
    background-color: #343a40; /* Dark grey background */
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff; /* White background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #343a40; /* Dark grey text */
    border-bottom: 2px solid #f8f9fa; /* Light grey border */
    padding-bottom: 10px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #343a40; /* Dark grey background */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
